<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihzsr.mweb.dao.ProcessDao">

	<resultMap type="Process" id="process">
		
		<result column="process_pid" property="procezzPID"/>
		<result column="process_user" property="procezzUSER"/>
		<result column="process_cpu" property="procezzCPU"/>
		<result column="process_rss" property="procezzRSS"/>
		<result column="process_started" property="procezzSTARTED"/>
		<result column="process_time" property="procezzTIME"/>
		<result column="process_command" property="procezzCOMMAND"/>

	</resultMap>
	
	<select id="queryAll" parameterType="java.lang.String" resultMap="process">
        select
        
        	process_pid, process_user, process_cpu, process_rss, process_started, process_time, process_command
        
        from
        
        	process_${companyCode}
        
        where
        
        	process_ip = #{ip}
    </select>
    
    <insert id="addProcess" parameterType="com.ihzsr.mweb.bean.Process">
		insert into
			process_${companyCode}(
			
				process_ip, process_pid, process_user, process_cpu, process_mem, 
				process_rss, process_started, process_time, process_command
			
			)
		values
		
			(#{ip}, #{procezzPID}, #{procezzUSER}, #{procezzCPU}, #{procezzMEM},
			#{procezzRSS}, #{procezzSTARTED}, #{procezzTIME}, #{procezzCOMMAND})
	</insert>
	
	<delete id="deleteProcess" parameterType="java.lang.String">
		delete from
		
			process_${companyCode}
			
		where
			
			process_ip = #{ip}
	
	</delete>

</mapper>