<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihzsr.mweb.dao.SettingsDao">

	<select id="queryAllSettings" parameterType="java.lang.String" resultType="com.ihzsr.mweb.bean.Settings">
        select
        
        	ip, cpu, memory, disk, cpumax, memorymax, diskmax, phone, email
        
        from
        
        	settings_${companyCode}
        	
        where 
        
        	ip = #{ip}
    </select>
    
    <update id="updateSettings">
    	update
    		
    		settings_${companyCode}
    		
    	set
    		
    		cpu = #{cpu}, memory = #{memory}, disk = #{disk}, cpumax = #{cpumax}, 
    		memorymax = #{memorymax},diskmax = #{diskmax}, phone = #{phone}, email = #{email}
    		
    	where
    	
    		ip = #{ip}
    </update>

</mapper>